$base-color: #fcf9e1;
$factbox: #b38046;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html{
    overflow: hidden;
}

body{
    margin: 0;
    padding: 0;
    top: 0;
    position: absolute;
    background-color: $base-color;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins';
    text-align: center;
}

.logo{
    height: 8rem;
    position: relative;
    margin-bottom: -3.5rem;
    z-index: -1;
}

h1{
    color: orange;
    font-size: 2rem;
    margin: 1rem 0 0 0;
}

.subtitle{
    font-weight: normal;
    font-size: 1rem;
    position: relative;
    margin: 0.2rem 0.2rem 0.5rem 0.2rem;
}

.text-wrapper{
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: purple;
}

.letter{
    transform-origin: 50% 100%;
    display: inline-block;
}

.house{
    position: absolute;
    transform: scale(1);
    transition: all 0.5s ease;
}

.townContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#town{
    position: relative;
}

#factBox{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 10rem;
    background-color: rgba($factbox, 0.7);
    color: #fffcf7;
    border-radius: 1rem;
    transition: opacity 0.3s;
    z-index: 20;
    pointer-events: none;
    opacity: 0;
    div{
        display: block;
        background-color: rgba($factbox,0.9);
        height: 50%;
        border-radius: 0.5rem 0.5rem 0 0;
    }   
    h2{
        padding: 0 0.3rem;
        margin: 0.4rem;
        font-size: 1.1rem;
    }
    #notes {
        margin: 0.3rem;
        font-size: 0.8rem;
    }
    #owner {
        font-style: italic;
        font-size: 1rem;
        margin: 0;
        padding: 0.2rem;
    }
}

button {
    display: inline-block;
    border-radius: 1rem;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0;
    text-decoration: none;
    background: orange;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    font-family: 'Poppins';
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: lighten(orange, 10%);
}

button:active {
    transform: scale(0.99);
}