@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
html {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  margin: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #fbcd8d;
  border-radius: 100px;
}

body {
  margin: 0;
  padding: 0;
  top: 0;
  position: absolute;
  background-color: #fcf9e1;
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins';
  text-align: center;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  color: #f9b85c;
  font-size: 2rem;
  margin: 1rem 0 0 0;
}

.subtitle {
  font-weight: normal;
  font-size: 1rem;
  position: relative;
  margin: 0.2rem 0.2rem 0.5rem 0.2rem;
}

.text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #f36e73;
}

.letter {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  display: inline-block;
}

.townItem {
  position: absolute;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-animation: 0.5s ease 0s 1 scaleIn;
          animation: 0.5s ease 0s 1 scaleIn;
}

.townContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.5rem;
}

.townContainer div {
  position: relative;
}

#factBox {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 13rem;
  background-color: rgba(179, 128, 70, 0.7);
  border-radius: 1rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 20;
  pointer-events: none;
  opacity: 0;
}

#factBox div {
  display: block;
  background-color: rgba(179, 128, 70, 0.9);
  height: 50%;
  border-radius: 0.5rem 0.5rem 0 0;
}

#factBox h2 {
  padding: 0 0.3rem;
  margin: 0.4rem;
  font-size: 1.1rem;
}

#factBox #notes {
  margin: 0.3rem;
  font-size: 0.8rem;
}

#factBox #owner {
  font-style: italic;
  font-size: 1rem;
  margin: 0;
  padding: 0.2rem;
}

button {
  display: inline-block;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0;
  text-decoration: none;
  background: #f9b85c;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  font-family: 'Poppins';
  -webkit-transition: background 250ms ease-in-out,  -webkit-transform 150ms ease;
  transition: background 250ms ease-in-out,  -webkit-transform 150ms ease;
  transition: background 250ms ease-in-out,  transform 150ms ease;
  transition: background 250ms ease-in-out,  transform 150ms ease,  -webkit-transform 150ms ease;
  -webkit-appearance: none;
}

@media screen and (max-width: 768px) {
  button {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
  }
}

button:hover, button:focus {
  background: #fbcd8d;
}

button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#tag {
  opacity: 0.5;
  cursor: pointer;
  margin: 0.4rem;
}

#faq {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 30;
  background-color: #fcf9e1;
  text-align: left;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.faqBox {
  position: relative;
  padding: 1rem;
  height: 80%;
  width: 50vw;
  background-color: #f9b85c;
  color: white;
  border-radius: 2rem;
  line-height: 1rem;
}

@media screen and (max-width: 1240px) {
  .faqBox {
    width: 60vw;
  }
}

@media screen and (max-width: 1020px) {
  .faqBox {
    width: 75vw;
  }
}

@media screen and (max-width: 768px) {
  .faqBox {
    width: 90vw;
  }
}

.faqBox div {
  width: 97%;
  height: 100%;
  overflow-y: auto;
  padding-right: 1rem;
}

.faqBox button {
  background-color: white;
  color: #f9b85c;
}

.faqBox h1, .faqBox h4 {
  color: #f36e73;
}

#blur {
  width: 100vw;
  height: 100vh;
  background-color: #fcf9e1;
  z-index: 19;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  pointer-events: none;
}

@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=style.css.map */