@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  top: 0;
  position: absolute;
  background-color: #fcf9e1;
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins';
  text-align: center;
}

.logo {
  height: 8rem;
  position: relative;
  margin-bottom: -3.5rem;
  z-index: -1;
}

h1 {
  color: orange;
  font-size: 2rem;
  margin: 1rem 0 0 0;
}

.subtitle {
  font-weight: normal;
  font-size: 1rem;
  position: relative;
  margin: 0.2rem 0.2rem 0.5rem 0.2rem;
}

.text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: purple;
}

.letter {
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  display: inline-block;
}

.house {
  position: absolute;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.townContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#town {
  position: relative;
}

#factBox {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 13rem;
  background-color: rgba(179, 128, 70, 0.7);
  border-radius: 1rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 20;
  pointer-events: none;
  opacity: 0;
}

#factBox div {
  display: block;
  background-color: rgba(179, 128, 70, 0.9);
  height: 50%;
  border-radius: 0.5rem 0.5rem 0 0;
}

#factBox h2 {
  padding: 0 0.3rem;
  margin: 0.4rem;
  font-size: 1.1rem;
}

#factBox #notes {
  margin: 0.3rem;
  font-size: 0.8rem;
}

#factBox #owner {
  font-style: italic;
  font-size: 1rem;
  margin: 0;
  padding: 0.2rem;
}

button {
  display: inline-block;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0;
  text-decoration: none;
  background: orange;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  font-family: 'Poppins';
  -webkit-transition: background 250ms ease-in-out,  -webkit-transform 150ms ease;
  transition: background 250ms ease-in-out,  -webkit-transform 150ms ease;
  transition: background 250ms ease-in-out,  transform 150ms ease;
  transition: background 250ms ease-in-out,  transform 150ms ease,  -webkit-transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #ffb733;
}

button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

#tag {
  position: absolute;
  text-align: right;
  bottom: 0;
  right: 1rem;
  opacity: 0.5;
}
/*# sourceMappingURL=style.css.map */