$base-color: #fcf9e1;
$factbox: #b38046;
$new-orange: #f9b85c;
$headline: #f36e73;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html{
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0.7rem;
}
 
::-webkit-scrollbar-track {
    background-color: rgba(lighten($base-color,10), 0.5);
    border-radius: 100px;
    margin: 1rem;
}
 
::-webkit-scrollbar-thumb {
    background-color: lighten($new-orange,10);
    border-radius: 100px;
}

body{
    margin: 0;
    padding: 0;
    top: 0;
    position: absolute;
    background-color: $base-color;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins';
    text-align: center;
}

section{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    color:$new-orange;
    font-size: 2rem;
    margin: 1rem 0 0 0;
}

.subtitle{
    font-weight: normal;
    font-size: 1rem;
    position: relative;
    margin: 0.2rem 0.2rem 0.5rem 0.2rem;
}

.text-wrapper{
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: $headline;
}

.letter{
    transform-origin: 50% 100%;
    display: inline-block;
}


.townItem{
    position: absolute;
    transform: scale(1);
    transition: all 0.5s ease;
    animation: 0.5s ease 0s 1 scaleIn;
}

.townContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        position: relative;
    }
}

#factBox{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 13rem;
    background-color: rgba($factbox, 0.7);
    border-radius: 1rem;
    transition: opacity 0.3s;
    z-index: 20;
    pointer-events: none;
    opacity: 0;
    div{
        display: block;
        background-color: rgba($factbox,0.9);
        height: 50%;
        border-radius: 0.5rem 0.5rem 0 0;
    }   
    h2{
        padding: 0 0.3rem;
        margin: 0.4rem;
        font-size: 1.1rem;
    }
    #notes {
        margin: 0.3rem;
        font-size: 0.8rem;
    }
    #owner {
        font-style: italic;
        font-size: 1rem;
        margin: 0;
        padding: 0.2rem;
    }
}

button {
    display: inline-block;
    border-radius: 1rem;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0;
    text-decoration: none;
    background:$new-orange;
    color: #ffffff;
    font-size: 1rem;
    @media screen and (max-width: 768px) {
        padding: 0.25rem 0.5rem;
        font-size: 0.75rem;
    }
    cursor: pointer;
    text-align: center;
    font-family: 'Poppins';
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    &:hover, &:focus{
        background: lighten($new-orange, 10%);
    }
    &:active{
        transform: scale(0.95);
    }
}

#tag{
    opacity: 0.5;
    cursor: pointer;
    margin: 0.4rem;
}

#faq{
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
    background-color: $base-color;
    text-align: left;
    transition: all 0.5s;
}


.faqBox{
    position: relative;
    padding: 1rem;
    height: 80%;
    width: 50vw;
    @media screen and (max-width: 1240px) {
        width: 60vw;
    }
    @media screen and (max-width: 1020px) {
        width: 75vw;
    }
    @media screen and (max-width: 768px) {
        width: 90vw;
    }
    div{
        width: 97%;
        height: 100%;
        overflow-y: auto;
        padding-right: 1rem;
    }
    background-color:$new-orange;
    color: white;
    border-radius: 2rem;
    line-height: 1rem;
    button{
        position: absolute;
        right: 1rem;
        background-color: white;
        color:$new-orange;
    }
    h1, h4{
        color: $headline;
    }
}

#blur{
    width: 100vw;
    height: 100vh;
    background-color: $base-color;
    z-index: 19;
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    transition: all 1s;
    pointer-events: none;
}

@keyframes scaleIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
